<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap	  =  "http://phonegap.com/ns/1.0"
	id      	  =  "com.phonegap.example"
	versionCode	  =  "10"
    version  	  =  "1.0.0" >

	<name>Proyecto de Digesto</name>

	<description>
	Pequeña y básica App para consulta de Leyes Vigentes de la H.C.D.
	</description>

	<author href="mavr.com.ar" email="mavrodriguez@yahoo.com">
		web
	
	</author>

</widget>